<div>
  <h1>FFBCV Angular prototype</h1>
</div>
<h2>Value Check</h2>

<h3>Customer Needs</h3>
<ul>
  <li>To what extent is the customer and the customer's significant unmet need precisely understood and described?</li>
  <li>To what extent is the understanding of the customer's significant need related to his/her future fitness?</li>
  <li>To what extent are there systems, processes, feedback loops in place or planned which support understanding the evolution of customer's significant needs?</li>
</ul>
<textarea rows="5" cols="90"></textarea><br>
<select id="valueq1">
  <option value="150">Outstanding</option>
  <option value="100">Strong</option>
  <option value="50">Moderate</option>
  <option value="0">Weak</option>
  <option value="null" selected>Not Applicable</option>
</select>


<h3>Market Opportuntiy</h3>
<ul>
  <li>To what extent is the significant market opportunity precisely understood and described?</li>
  <li>To what extent is the significant market opportunity (on which the solution builds on) intended to support the creation of a future fit market?</li>
  <li>To what extent are there systems, processes, feedback loops in place or planned which support understanding the evolution of significant market opportunities?</li>
</ul>
<textarea rows="5" cols="90"></textarea><br>
<select id="valueq2">
  <option value="150">Outstanding</option>
  <option value="100">Strong</option>
  <option value="50">Moderate</option>
  <option value="0">Weak</option>
  <option value="null" selected>Not Applicable</option>
</select>

<h3>Solution</h3>
<ul>
  <li>To what extent does the solution fully meet the potential of the described customer and the significant customer's need?</li>
  <li>To what extent does the solution fully meet the potential of the described market opportunity (incl. price)?</li>
  <li>To what extent are there systems, processes, feedback loops in place or planned which support the development of the solution?</li>
</ul>
<textarea rows="5" cols="90"></textarea><br>
<select id="valueq3">
  <option value="150">Outstanding</option>
  <option value="100">Strong</option>
  <option value="50">Moderate</option>
  <option value="0">Weak</option>
  <option value="null" selected>Not Applicable</option>
</select>



<button id="validate" type="submit" (click)= "value()">Submit</button>

<p>Average: {{score}}%</p>
